img {
    width:120px;
    height:120px;
    margin-left: 60px;
    margin-top: 10px;
}
#longimg {
    height:120px;
    width: 200px;
    margin-left: 60px;
}
#mmsql {
    height:140px;
    width: 210px;
}
#project {
    margin:auto;
    width:500px;
    height:400px;
}
#tcg {
    margin:auto;
    width:200px;
    height:300px;
}
#html {
    margin:auto;
    width:500px;
    height:300px;
}