img {
    width: 120px;
    height: 120px;
    margin-left: 60px;
    margin-top: 10px;
}
#longimg {
    height:120px;
    width: 200px;
}
#mmsql {
    height:140px;
    width: 210px;
}
#flask {
    height:80px;
    width: 150px;
}

.icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
@media (max-width: 768px) {
    img {
        width: 80px;
        height: 80px;
        margin-left: 60px;
        margin-top: 10px;
    }
    #longimg {
        height:130px;
        width: 230px;
    }
    #mmsql {
        height:130px;
        width: 230px;
    }
    #flask {
        height:50px;
        width: 100px;
    }
    
    .icons{
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        align-items: left;
    }
}